<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>numero</th><th>Nom animal</th> <th>Couleur</th> <th>Date Naissance</th> </tr>
    <tbody *ngFor="let animal of animals">
    <tr >
    <td>{{animal.numA}}</td>
    <td>{{animal.nomA}}</td>
    <td>{{animal.couleur}}</td>
    <td>{{animal.dateNais | date:'dd/MM/yyyy'}}</td>
    <td><a class="btn btn-danger" (click)="supprimerAnimal(animal)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateAnimal',animal.numA]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>