<div class="container">
    <div>
    <h2>Ajouter un Aniaml :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >numero Aniaml</label>
        <input type="text" [(ngModel)]="newAnimal.numA" name="numA" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Animal</label>
        <input type="text"[(ngModel)]= "newAnimal.nomA" name="nomA" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Couleur Animal</label>
        <input type="text" [(ngModel)]= "newAnimal.couleur" name="couleur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date Naissance</label>
        <input type="date" [(ngModel)]= "newAnimal.dateNais" name="dateNais" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addAnimal()" class="btn btn-success">Ajouter</button>
        <div>
            <h3>{{message}}</h3>
        </div>
        </div>
        </form>
        </div>